// Default/light
$bg-element-default: #ebebeb;
$bg-element-mid: #d8d8d8;
$bg-element-accent: #303030;
$text-default: #1b1b1b;
$text-accent: #3390ff;
$data-line-default: #fdfdfd, #f1f1f1;
$data-line-mid: #f1f1f1, #ececec;
//Circles
$red-default: #ff5f57;
$red-hover: #d9534f;
$yellow-default: #ffbd2e;
$yellow-hover: #d9a026;
$green-default: #28c840;
$green-hover: #1aab29;
